body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  margin: 1px;
  border: 1px solid black;
  width: 30dvh;
}

.view {
  /* position: absolute; */
  border: 3px solid blue;
  /* right: 5px; */
  /* z-index: 4; */
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border: 1px solid orange;
}


#deck {
  display: flex;
  flex-wrap: wrap
}